// Importing a Google Fonts font
@import url('');

// Importing base styles, components and utilities from Tailwind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;

// Setting box-sizing, margin, and padding for all elements in the document
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Color and font variables defined in the :root selector
:root {}

body {
    background-color: red;
    height: 100svh;
}

#root {
    height: 100%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 40px;
}

main {
    height: fit-content;
    min-height: 100%;
    width: 100%;
    max-width: 640px;
    background-color: blue;
}